<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body id="homeBody">
    <div class="container mt-5">
      <div class="row justify-content-around">
        <div class="col-3 bg-light text-dark">
          <h2>How does this work?</h2>
          <p>
            With good read you can create your book shelf by adding the books
            you have already read. You can as well create a collection of the
            books you want to read. Goodread allow you, also, to setup a yearly
            challenge for yourself to finish a certain number of books.
          </p>
        </div>
        <div class="col-3 bg-light text-dark">
          <h2>Reviews</h2>
          <p>
            Reviews will help you to have an idea about the next book you intend
            to read or to buy. You can also contribute by giving a review about
            the books you have read so other poeple can benifit from your
            experience
          </p>
        </div>
        <div class="col-3 bg-light text-dark">
          <h2>What are your friends reading?</h2>
          <p>
            Chances are your friends are discussing their favorite (and least
            favorite) books on Goodreads.
          </p>
        </div>
      </div>

      <div class="container mt-5">
        <h2>Find your book</h2>
        <div class="row mt-5">
          <div class="col-3">
            <ul>
              <li><a href="#" class="text-dark">HISTORY</a></li>
              <li><a href="#" class="text-dark">ROMANCE</a></li>
              <li><a href="#" class="text-dark">DRAMA</a></li>
              <li><a href="#" class="text-dark">COMEDY</a></li>
              <li><a href="#" class="text-dark">CRIME</a></li>
            </ul>
          </div>
          <div class="col-3">
            <ul>
              <li><a href="#" class="text-dark">MYSTERY</a></li>
              <li><a href="#" class="text-dark">FICTION</a></li>
              <li><a href="#" class="text-dark">HORROR</a></li>
              <li><a href="#" class="text-dark">COOKBOOKS</a></li>
              <li><a href="#" class="text-dark">COMICS</a></li>
            </ul>
          </div>
          <div class="col-3">
            <ul>
              <li><a href="#" class="text-dark">PSYCHOLOGY</a></li>
              <li><a href="#" class="text-dark">FANTASY</a></li>
              <li><a href="#" class="text-dark">BUISENESS</a></li>
              <li><a href="#" class="text-dark">ART</a></li>
              <li><a href="#" class="text-dark">CLASSICS</a></li>
            </ul>
          </div>
          <div class="col-3">
            <ul>
              <li><a href="#" class="text-dark">THRILLER</a></li>
              <li><a href="#" class="text-dark">SPORTS</a></li>
              <li><a href="#" class="text-dark">TRAVEL</a></li>
              <li><a href="#" class="text-dark">BIOGRAPHY</a></li>
              <li><a href="#" class="text-dark">RELIGION</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
